<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Contact Form</title>
   <style>

       .card {
           font-family: "Helvetica Neue";
           font-size: 14px;
           font-weight: 400;
           text-align: start;
           justify-content: center;
           align-items: center;
           margin: auto;
           width: 100%;
       }

       .card-body {
           display: grid;
           grid-template-rows: auto auto auto;
       }

   </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <p class="text-center"><strong>Source</strong>: The email - {{ email }} is from {{name}}</p>
            <h3>Content</h3>
            <p class="card-text text-center"><strong>{{ small_text_detail }}</strong></p>
        </div>
    </div>
</body>
</html>