{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<legend class="border-bottom mb-4">Reset Password</legend>
<p>
    Forgot your password? Enter your email address below, 
    and we will email instruction for setting a new one.
</p>
<div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div> 
            <div class="form-group">
                <button type="Submit" class="btn btn-outline-info">Send Email</button>
            </div>
        </form>          
</div>
{% endblock content %}